DATA_TOP="/u001/data/as17"
SECURITY_TOP="/u001/data/as17/security"
SYSTEM_USER="enterprisedb"
SYSTEM_GROUP="enterprisedb"
SERVICE_NAME="edb-as-17"
PRIMARY_PORT=5444
PRIMARY_HOST="192.168.1.11"
STANDBY_HOST="192.168.1.12"
SUBNET_CIDR="192.168.1.0/24"
